<app-header></app-header>
<!-- Card the meals -->
<div class="container">
  <div class="card">
    <div class="card__img"><img [src]="foodDetails?.strMealThumb" alt="{{foodDetails?.strMeal}} image" class="st53">
      </div>
    <div class="card__descr-wrapper">
      <!-- Title-->
      <p class="card__title">
        {{foodDetails?.strMeal}}
      </p>
      <!-- Category-->
      <p class="card__title">
        {{foodDetails?.strCategory}}
      </p>
      <!-- Date-->
      <div class="span-Subtitle">
        <span class="subtitle" *ngIf="foodDetails?.dateModified">
          <strong>Date:</strong> {{foodDetails?.dateModified | date:'yyyy/MMMM/dd'}}
        </span>
          <p class="food_Area">{{foodDetails?.strArea}}</p>
      </div>
      <!-- Instructions-->
      <div class="container_Instructions">
       <h4 class="text-instructions"><strong>Instructions</strong></h4>
        <p class="card__descr">
          {{foodDetails?.strInstructions}}
        </p>
      </div>
      <div class="card__subtitles-container">
        <!-- Ingredients -->
        <div class="card__subtitle">
          <span class="subtitle"> <strong>Ingredients:</strong></span>
            <ul class="ingredients">
              <li>{{foodDetails?.strIngredient1}}</li>
              <li>{{foodDetails?.strIngredient2}}</li>
              <li>{{foodDetails?.strIngredient3}}</li>
              <li>{{foodDetails?.strIngredient4}}</li>
              <li>{{foodDetails?.strIngredient5}}</li>
              <li>{{foodDetails?.strIngredient6}}</li>
              <li>{{foodDetails?.strIngredient7}}</li>
              <li>{{foodDetails?.strIngredient8}}</li>
              <li>{{foodDetails?.strIngredient9}}</li>
              <li>{{foodDetails?.strIngredient10}}</li>
            </ul>
        </div>

        <!-- Measures -->
        <div class="card__subtitle">
          <span class="subtitle"><strong>Measures:</strong></span>
            <ul class="ingredients">
              <li>{{foodDetails?.strMeasure1}}</li>
              <li>{{foodDetails?.strMeasure2}}</li>
              <li>{{foodDetails?.strMeasure3}}</li>
              <li>{{foodDetails?.strMeasure4}}</li>
              <li>{{foodDetails?.strMeasure5}}</li>
              <li>{{foodDetails?.strMeasure6}}</li>
              <li>{{foodDetails?.strMeasure7}}</li>
              <li>{{foodDetails?.strMeasure8}}</li>
              <li>{{foodDetails?.strMeasure9}}</li>
              <li>{{foodDetails?.strMeasure10}}</li>
            </ul>
        </div>
      </div>
      <!-- Video youtube-->
      <ng-container *ngIf="getVideoIframe()">
        <h4 class="title-youtube">Video Youtube</h4>
        <br />
        <div class="youtube-video">
          <iframe
            class="responsive-iframe"
            style="position: relative; top: 0; left: 0;"
            [src]="getVideoIframe()"
            frameborder="1"
            allow="accelerometer; encrypted-media; gyroscope;"
            allowfullscreen
          ></iframe>
        </div>
      </ng-container>
      <!-- Button GoBack-->
      <div class="card__links">
        <div>
          <button class="btn" (click)="toAllFood()"><i class="animation"></i>Return<i class="animation"></i>
          </button>
      </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
